.input-title{
    position: relative;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-description{
    position: relative;
    margin-left: 56px;
    margin-bottom: 20px;
    width: 500px;
}